[Unit]
Description=EasySunSystem Monitoring
After=multi-user.target network.target

[Service]
Type=idle
WorkingDirectory=/home/pi/easy_sun_system
ExecStart=/usr/bin/python3 /home/pi/easy_sun_system/app.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
