<!DOCTYPE html>
<!-- Auteur : Théo de Morais -->
<!-- Date : 10 août 2023 -->
<html>
<head>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='chartjs-plugin-zoom.min.js') }}"></script>

<style>
        body {
            background-color: #21242C;
            color: #fff; 
        }


        .chart-container {
            width: 90%;
            max-width: 800px;
            margin: 0 auto;
            position: relative;
            margin-bottom: 20px; 
        }


        .moveLeftButton,
        .moveRightButton {
            position: absolute;
            top: 10px;
            background-color: #252935; 
            color: #FFF;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
            z-index: 1; 
        }


        .moveRightButton {
            right: 10px; 
        }


        .moveLeftButton {
            right: 60px; 
            background-color: #252935; 
        }
        .sum-value {
            font-weight: bold;
        }


        .sum-container {
            position: absolute;
            top: 150px;
            right: -200px;
            text-align: right;
            background-color: #252935
        }


        button {
            background-color: #252935; 
            color: #fff; 
            border: none; 
            padding: 10px 20px; 
            cursor: pointer; 
        }

/
        button:hover {
            background-color: #45a049; 
        }
        }
    input[type="date"],
    input[type="time"] {
        background-color: #252935; 
        color: #fff; 
        border: none;
    }

    </style>
    <script>

        let chart1, chart2;


        function destroyCharts() {
            if (chart1 instanceof Chart) {
                chart1.destroy();
            }
            if (chart2 instanceof Chart) {
                chart2.destroy();
            }
        }

function updateCharts() {
    const start_date = document.getElementById('start_date').value;
    const start_time = document.getElementById('start_time').value;
    const end_date = document.getElementById('end_date').value;
    const end_time = document.getElementById('end_time').value;

    const start_datetime = new Date(start_date + ' ' + start_time).getTime() / 1000;
    const end_datetime = new Date(end_date + ' ' + end_time).getTime() / 1000;


    $.ajax({
        url: `/chart-data?start_datetime=${start_datetime}&end_datetime=${end_datetime}`,
        type: 'GET',
        success: function(data) {
            const chargwData = data.chargw;
            const loadwData = data.loadw;
            const time_chargw = chargwData.timestamps.map(convertTimestampToTime);
            const time_loadw = loadwData.timestamps.map(convertTimestampToTime);


            document.getElementById('sum-chargw').textContent = chargwData.total_sum;
            document.getElementById('sum-loadw').textContent = loadwData.total_sum;

            destroyCharts();


            chart1 = createNewChart(chargwData.values, time_chargw, 'chart1', 'Temps', 'Puissance en W', 'Production en W des panneaux solaires');
            chart2 = createNewChart(loadwData.values, time_loadw, 'chart2', 'Temps', 'Puissance en W', 'Consommation instantané en W');
        }
    });
}

        // Convertir le timestamp en temps réel
        function convertTimestampToTime(timestamp) {
            const date = new Date(timestamp * 1000); 
            const day = date.toLocaleDateString(); 
            const hours = date.getHours();
            const minutes = "0" + date.getMinutes();
            const seconds = "0" + date.getSeconds();
            const formattedTime = day + ' ' + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
            return formattedTime;
        }

        function createNewChart(data, time, chartId, Titrex, Titrey, Titre) {
            const ctx = document.getElementById(chartId).getContext('2d');
            const chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: time,
                    datasets: [{
                        label: 'Valeurs',
                        borderColor: 'rgba(255, 210, 48, 1)',
                        backgroundColor: 'rgba(255, 210, 48, 0.2)',
                        data: data,
                        fill: false
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: Titrey
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: Titrex
                            }
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: Titre
                        },
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'x',
                                speed: 0.1,
                                threshold: 5
                            },
                            zoom: {
                                wheel: {
                                    enabled: true
                                },
                                pinch: {
                                    enabled: true
                                },
                                mode: 'x'
                            }
                        }
                    }
                }
            });

            // Ajouter un écouteur d'événements pour le bouton de déplacement vers la gauche
            document.getElementById(`moveLeftButton-${chartId}`).addEventListener('click', function () {
                const maxScrollDistance = chart.scales['x'].max - chart.scales['x'].min;
                const scrollStep = maxScrollDistance / 10; 

                const currentScroll = chart.scales['x'].min;
                const newScroll = currentScroll - scrollStep;
                chart.scales['x'].options.min = newScroll;
                chart.scales['x'].options.max = newScroll + maxScrollDistance;
                chart.update();
            });

            // Ajouter un écouteur d'événements pour le bouton de déplacement vers la gauche en restant appuyé
            document.getElementById(`moveLeftButton-${chartId}`).addEventListener('mousedown', function () {
                startScrollingLeft(chart);
            });

            // Ajouter un écouteur d'événements pour arrêter le défilement lorsque le bouton de déplacement vers la gauche est relâché
            document.getElementById(`moveLeftButton-${chartId}`).addEventListener('mouseup', function () {
                stopScrolling();
            });

            // Ajouter un écouteur d'événements pour le bouton de déplacement vers la droite
            document.getElementById(`moveRightButton-${chartId}`).addEventListener('click', function () {
                const maxScrollDistance = chart.scales['x'].max - chart.scales['x'].min;
                const scrollStep = maxScrollDistance / 10; 

                const currentScroll = chart.scales['x'].min;
                const newScroll = currentScroll + scrollStep;
                chart.scales['x'].options.min = newScroll;
                chart.scales['x'].options.max = newScroll + maxScrollDistance;
                chart.update();
            });

            // Ajouter un écouteur d'événements pour le bouton de déplacement vers la droite en restant appuyé
            document.getElementById(`moveRightButton-${chartId}`).addEventListener('mousedown', function () {
                startScrollingRight(chart);
            });

            // Ajouter un écouteur d'événements pour arrêter le défilement lorsque le bouton de déplacement vers la droite est relâché
            document.getElementById(`moveRightButton-${chartId}`).addEventListener('mouseup', function () {
                stopScrolling();
            });

            // Fonctions pour le défilement continu
            let scrollInterval;

            function startScrollingLeft(chart) {
                scrollInterval = setInterval(function () {
                    const maxScrollDistance = chart.scales['x'].max - chart.scales['x'].min;
                    const scrollStep = maxScrollDistance / 10; // Vous pouvez ajuster la vitesse de défilement ici

                    const currentScroll = chart.scales['x'].min;
                    const newScroll = currentScroll - scrollStep;
                    chart.scales['x'].options.min = newScroll;
                    chart.scales['x'].options.max = newScroll + maxScrollDistance;
                    chart.update();
                }, 100); // Vous pouvez ajuster la fréquence de défilement ici
            }

            function startScrollingRight(chart) {
                scrollInterval = setInterval(function () {
                    const maxScrollDistance = chart.scales['x'].max - chart.scales['x'].min;
                    const scrollStep = maxScrollDistance / 10; // Vous pouvez ajuster la vitesse de défilement ici

                    const currentScroll = chart.scales['x'].min;
                    const newScroll = currentScroll + scrollStep;
                    chart.scales['x'].options.min = newScroll;
                    chart.scales['x'].options.max = newScroll + maxScrollDistance;
                    chart.update();
                }, 100); // Vous pouvez ajuster la fréquence de défilement ici
            }

            function stopScrolling() {
                clearInterval(scrollInterval);
            }

            return chart;
        }

function initPage() {
    const currentDate = new Date();
    const currentDateAdjusted = new Date(currentDate.getTime() +(2 * 60 * 60 * 1000)); 

    const oneDayAgo = new Date(currentDateAdjusted);
    oneDayAgo.setDate(oneDayAgo.getDate() - 1);

    const start_date_input = document.getElementById('start_date');
    const start_time_input = document.getElementById('start_time');
    const end_date_input = document.getElementById('end_date');
    const end_time_input = document.getElementById('end_time');

    start_date_input.value = oneDayAgo.toISOString().slice(0, 10);
    start_time_input.value = oneDayAgo.toISOString().slice(11, 16);
    end_date_input.value = currentDateAdjusted.toISOString().slice(0, 10);
    end_time_input.value = currentDateAdjusted.toISOString().slice(11, 16);

    updateCharts();
}


window.onload = function() {
    initPage();
};
    </script>
</head>
<body>
<div>
    <label for="start_date">Du: </label>
    <input type="date" id="start_date" required>
    <input type="time" id="start_time" required>
    <label for="end_date">au </label>
    <input type="date" id="end_date" required>
    <input type="time" id="end_time" required>
    <button onclick="updateCharts()">Afficher</button>
</div>



    <div class="chart-container">
        <button class="moveLeftButton" id="moveLeftButton-chart1">&#8249;</button>
        <button class="moveRightButton" id="moveRightButton-chart1">&#8250;</button>
        <div class="sum-container">
            <p>Total produit: <span id="sum-chargw" class="sum-value"></span> kWh</p>
        </div>
        <canvas id="chart1"></canvas>
    </div>

    <div class="chart-container">
        <button class="moveLeftButton" id="moveLeftButton-chart2">&#8249;</button>
        <button class="moveRightButton" id="moveRightButton-chart2">&#8250;</button>
        <div class="sum-container">
            <p>Total consommé: <span id="sum-loadw" class="sum-value"></span> kWh</p>
        </div>
        <canvas id="chart2"></canvas>
    </div>


</body>
</html>
